---
import Project from "@components/Project.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="Posts" description="hello world">
  <section class="flex flex-col mt-8">
    <h1 class="text-2xl sm:text-3xl font-bold mb-5">Projects</h1>
    <p>Coding projects I've worked on:</p>
  </section>
  <section class="flex flex-col mt-8">
    <Project title="Detox Doctor" description="A Node CLI tool that tells you what you need to have installed locally to be able to run E2E Detox tests for React Native apps"/>
  </section>
</Layout>
